### Step 1, 2 & 3. Import the necessary libraries, create a data dictionary that looks like the DataFrame below and assign it to a variable called Pokemon

In [0]:
import pandas as pd

In [0]:
dict = {'evolution': ['Ivysaur', 'Charmeleon', 'Wartortle', 'Metapod'],
'hp': [45, 39, 44, 45],
'name': ['Bulbasaur', 'Charmander', 'Squirtle', 'Caterpie'],
'pokedex': ['yes', 'no', 'yes', 'no'],
'type': ['grass', 'fire', 'water', 'bug']}

In [5]:
pokemon = pd.DataFrame(dict)

pokemon

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place the order of the columns as name, type, hp, evolution, pokedex

In [6]:
pokemon = pokemon[['name', 'type', 'hp', 'evolution', 'pokedex']]

pokemon

         name   type  hp   evolution pokedex
0   Bulbasaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

### Step 5. Add another column called place, and insert what you have in mind.

In [17]:
pokemon['place'] = ['camp', 'volcano', 'ocean', 'forest']

pokemon

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

         name   type  hp   evolution pokedex    place
0   Bulbasaur  grass  45     Ivysaur     yes     camp
1  Charmander   fire  39  Charmeleon      no  volcano
2    Squirtle  water  44   Wartortle     yes    ocean
3    Caterpie    bug  45     Metapod      no   forest

### Step 6. Present the type of each column

In [12]:
pokemon.dtypes

name         object
type         object
hp            int64
evolution    object
pokedex      object
place        object
dtype: object