### Step 1. Import the necessary libraries

In [0]:
import pandas as pd
import numpy as np

### Step 2 & 3. Import dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv)

In [0]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

chipo = pd.read_csv(url, sep = '\t')

### Step 4. See the first 10 entries

In [3]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [4]:
chipo.shape[0]

4622

In [5]:
#Can also be achieved with
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.6+ KB

### Step 6. What is the number of columns in the dataset?

In [6]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [7]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [8]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

###  Step 9. Which was the most-ordered item?

In [27]:
c = chipo.groupby('item_name')
c = c.sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

In [38]:
c = chipo.groupby('item_name').sum().sort_values(['quantity'], ascending=False)
c.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

### 10. For the most-ordered item, how many items were ordered?

In [41]:
#Same as 9.

c = chipo.groupby('item_name').sum().sort_values(['quantity'], ascending=False)
c.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

### 11. What was the most ordered item in the choice_description column?

In [47]:
c = chipo.groupby('choice_description').sum()
c = c.sort_values('quantity', ascending=False)
c.head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

### Step 12. How many items were orderd in total?

In [48]:
total_items_ordered = chipo.quantity.sum()
total_items_ordered

4972

### Step 13. Turn the item price into a float

####  Step 13.a. Check the item price type

In [50]:
chipo.item_price.dtype  #dtype ('O') means Python object

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [0]:
floatizer = lambda x : float(x[1:-1])

chipo.item_price = chipo.item_price.apply(floatizer)

#### 13.c Check the item price type

In [70]:
chipo.item_price.dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [77]:
revenue = (chipo.item_price * chipo.quantity).sum()
print('Revenue was: $'+ str(np.round(revenue, 2)))

Revenue was: $39237.02

###  Step 15. How many orders were made in the period?

In [84]:
chipo.order_id.value_counts().count()

1834

### Step 16. What is the avarage amount per order?

In [90]:
order_grouped = chipo.groupby('order_id').sum()
order_grouped.mean()['item_price']

18.81142857142869

### Step 17. How many different items are sold?

In [97]:
chipo.item_name.value_counts().count()
#value_counts() returns unique values
#counts() return how many unique values

50